.container-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
}

.container {
  flex: 1;
  max-width: 1200px;
  display: flex;
  box-sizing: border-box;
}

.container.smaller {
  padding-left: 32px;
  padding-right: 32px;
}

@media screen and (max-width: 1232px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}
