.footer-container {
  padding-bottom: 5vh;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.rq {
  padding-top: 5px;
  color: red;
}

.col-body {
  display: flex;
  flex-direction: column;
}

.footer-wrapper {
  background-color: #2088a1;
}

.footer-title > p {
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.decorator {
  margin-top: -24px;
  margin-bottom: 24px;
  background-color: #f6b443;
  height: 4px;
  width: 6vw;
}

.copy-right {
  max-height: 72px;
  height: 36px;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #115464;
}

/* right  */

.col-body > p {
  font-size: 16px;
  color: white;
}

.footer-container .col {
  padding-left: 48px;
  padding-right: 48px;
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.copy-right > p {
  color: #bebebe;
}

.phone {
  display: flex;
  flex-direction: row;
  padding: 40px;
}

.phone > a {
  padding-left: 10px;
}
.col-body > p {
  margin-top: -5px;
}

.phone > i,
.phone > a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 36px;
}

.logo-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 25vw;
}

.footer-container .col .logo .moh {
  height: 72px;
}

.logo-container .vt,
.logo-container .bwt,
.logo-container .moh {
  height: 64px;
}

/* left */

.footer-container .col {
  flex: 3;
}

.footer-container .col .input-row {
  display: flex;
  flex-direction: row;
}

.footer-container .col > form {
  display: flex;
  height: 1 0vh;
  flex-direction: column;
}

.footer-container .col > form > input {
  color: #aaaaaa;
  margin-top: 10px;
  height: 36px;
  font-size: 16px;
  width: 40vw;
  background-color: #ffffff;
}
.footer-container .col .input-row {
  width: 40.7vw;
  display: flex;
  justify-content: space-between;
}

.footer-container .col > form .input-row > input {
  color: #aaaaaa;
  height: 36px;
  width: 47%;
  font-size: 16px;
}
.footer-container .col > form > textarea {
  color: #aaaaaa;
  resize: none;
  margin-top: 10px;
  font-size: 16px;
  width: 40vw;
  height: 135px;
  background-color: #ffffff;
}

.footer-container .col > form > button {
  margin-top: 10px;
  font-weight: bold;
  border-radius: 4px;
  font-family: sans-serif;
  background-color: #f6b443;
  width: 15vw;
  height: 48px;
  font-size: 24px;
  border: none;
  font-weight: bold;
  color: white;
}

@media screen and (max-width: 1025px) {
  .col-body {
    align-items: center;
  }
  .col-body > p {
    text-align: center;
  }
  .footer-container .col > form .input-row > input {
    margin-top: 10px;
  }

  .footer-container .col .footer-title {
    padding-top: 20px;
    margin-bottom: 0px;
  }
  .footer-wrapper {
    padding-left: -24px;
    padding-right: -24px;
  }

  .footer-container {
    flex-direction: column;
    padding-left: 24px;
    padding-right: 24px;
  }

  /* left  */
  .footer-container .col > div > p {
    align-self: center;
  }

  .footer-container .col > form .input-row {
    align-items: center;
    flex-direction: column;
  }

  .footer-container .col > form {
    align-items: center;
  }

  .footer-container .col > form > input,
  .footer-container .col > form .input-row > input,
  .footer-container .col > form > textarea {
    width: 80vw;
    font-size: 16px;
  }

  .footer-container .col > form > button {
    font-size: 16px;
    width: 60vw;
    border: none;
  }
  /* right  */
  .footer-container .col {
    align-items: center;
    flex-direction: column;
  }
  .footer-title > p {
    text-align: center;
    font-size: 24px;
  }
  .logo-container > img {
    height: 96px;
    width: 96px;
  }
  .logo-container {
    width: 40vw;
  }

  .phone {
    margin-top: -10px;
  }
}

@media screen and (max-width: 600px) {
  .phone > a,
  .phone > i {
    font-size: 24px;
  }

  .logo-container .vt,
  .logo-container .bwt {
    height: 52px;
  }

  .logo-container .moh {
    height: 70px;
    width: 70px;
  }
  .col-body > form {
    align-items: center;
  }

  .logo-container {
    width: 80vw;
  }

  .decorator {
    height: 2px;
    margin-top: -20px;
    margin-bottom: 24px;
    width: 20vw;
  }
  .footer-container .col {
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
  }

  .footer-title {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 36px;
  }

  .phone > a,
  .phone > i {
    font-size: 24px;
  }
  .phone {
    margin-bottom: 40px;
    margin-top: 10px;
    padding: 15px;
  }
}
