.info-pt-container {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 100px;
}
#animation5 {
  padding-left: 260px;
  padding-right: 260px;
}
.info-pt-container .title-large {
  font-weight: bold;
  font-size: 24px;
}
.info-pt-container .p {
  font-size: 16px;
}

.info-pt-container > button {
  font-size: 24px;
  font-weight: bold;
  font-family: sans-serif;
  margin-top: 20px;
  border-radius: 8px;
  padding: 20px 100px 20px 100px;
  color: white;
  background-color: #2088a1;
  background-color: #2088a1;
  text-align: center;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1025px) {
  .info-pt-container > button {
    margin-top: 3vh;
    font-size: 24px;
    padding: 20px;
  }
}

@media screen and (max-width: 600px) {
  .info-pt-container > button {
    font-size: 20px;
  }

  .info-pt-container .title-large {
    font-size: 24px;
  }

  .info-pt-container #animation5 {
    padding: 0;
  }
  .info-pt-container .ask-button {
    margin-top: 5vh;
    font-size: 16px;
    width: 60vw;
    height: 7vh;
  }
}
