.moh-banner {
  display: flex;
  flex-direction: column;
}

.moh-banner-wrapper {
  background-image: url("../assets/image/gradient-02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.moh-banner .title-small {
  text-align: center;
  color: #ffffff;

  font-size: 16px;
}
.moh-banner .title-large {
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
#animation4 {
  width: 80%;
  align-self: center;
}

@media screen and (max-width: 600px) {
  .moh-banner .title-small {
    text-align: left;
  }

  .moh-banner #animation4 {
    height: 30vh;
  }
  .moh-banner .title-large {
    font-size: 24px;
  }
  .moh-banner > p {
    font-size: 16px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
